@import url("props_resets.css");

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color:  #f5f5f5;
   padding:.9rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
}
  
.message span{
   font-size: 2rem;
   color:black;
}
  
.message i{
   font-size: 1rem;
   color:red;
   cursor: pointer;
}
  
.message i:hover{
  color:black;
}

.heading h3 {
   font-size: 2rem;
}