@import url("props_resets.css");

/************* GRID CONTAINER *************/
.admin-container {
  background-color: var(--clr-neutral-100);
  display: grid;
  grid-template-columns: 256px auto;
}

.section-grid {
  display: grid;
  grid-template-columns: 500px auto;
  gap: 1em;
  margin: 0 auto;
  overflow: hidden;
  /* height: 100%; */
}

/************* SIDEBAR *************/
aside {
  background-color: white;
  height: 100vh;
}

aside .top-sidebar {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

aside .logo {
  display: flex;
}

aside .logo i {
  margin-top: 0.5em;
}

.logo-text {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
  color: var(--clr-primary-color);
  padding: 0.2em;
}

.logo-text span {
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-700);
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
}

aside .sidebar a {
  display: flex;
  position: relative;
  padding: 0 0 0 1em;
  color: var(--clr-neutral-700);
  gap: 16px;
  align-items: center;
  height: 59.2px;
  transition: all 300ms ease;
}

aside .sidebar h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  padding: 0.2em;
}

aside .sidebar a span {
  font-size: 25.6px;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

aside .sidebar a:hover,
aside .sidebar a:focus {
  color: var(--clr-primary-color);
}

aside .sidebar a.active {
  background-color: var(--clr-primary-color);
  color: white;
}

/************* TOP *************/

.top {
  position: relative;
  background-color: white;
  padding: 1rem;
  height: 4.375rem;  
}

.top h3{
  text-align: center;
  color: var(--clr-primary-color);
}

/************* BUTTONS *************/

#btn-menu, #btn-close {
  display: none;
}

/************* PRODUCTS *************/

/* ADD PRODUCT */
.style-products {
  margin: 1em;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
}

.style-products h2 {
  text-align: center;
  margin: 0.5em 0;
} 

.style-products form {
  height: auto;
  padding: 2em;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem var(--clr-neutral-300);
  background-color: white;
  border: 20rem;
}

.style-products form .box {
  outline: none;
  margin-bottom: 1em;
  font-size: var(--fs-400);
  color: black;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: 2px solid var(--clr-neutral-300);
  border-radius: 16px;
  transition: 0.3s all ease;
}

.style-products form .box:focus {
  border-color: var(--clr-accent-color);
}

.style-products textarea {
height: 9rem;
resize: none;
}

/* SHOW PRODUCT */
.show-products {
  padding: 1.5em;
  height: 42.5rem;
  overflow: auto;
}

.show-products h3 {
  position: sticky;
  color: white;
  text-align: center;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 13rem);
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.show-box {
  position: relative;
  width: 12.5rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem var(--clr-neutral-300);
  background-color: white;
  border-radius: 1rem;
  padding: 1em;
  margin: 0 auto;
}

.price {
  position: absolute;
  top: .8rem;
  left: .8rem;
  padding: .5rem;
  font-size: 1rem;
  color: white;
  background-color: var(--clr-accent-color);
  border-radius: .3rem;
}

.box-flow img {
  border-radius: .625rem;
}

.name, .details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--fs-500);
  color: black;
}

.category {
  font-size: var(--fs-300);
  color: var(--clr-accent-color);
}

.details {
  margin: 0.5em 0;
  font-size: var(--fs-200);
  line-height: 1.5;
  color: var(--clr-neutral-500);
}

.flex-btn {
  display: flex;
  flex-direction: column;
}

.flex-btn button,
.flex-btn a {
  font-size: var(--fs-200);
  justify-content: center;
  margin: 0.3em 0;
}

:where(.box-flow :not(:first-child)) {
  margin-top: 0.3em;
}

/* UPDATE PRODUCTS */

.update-products form{
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2rem solid black;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background-color: #f5f5f5;
  border: 20rem;
}

.update-products form img {
height: 20rem;
width: 20rem;
object-fit: cover;
margin-bottom: 1rem;
display: initial;
}

.update-products form .box {
width: 90%;
border: .2rem solid black;
background-color: white;
border-radius: .9rem;
padding: .5rem .8rem;
font-size: 1rem;
color: black;
margin: .5rem 0;
}

.empty {
padding: 1rem;
background: white;
color: red;
border-radius: .9rem;
border: .2rem solid black;
font-size: 1rem;
text-align: center;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/* Overlapp css */


.update-form {
position: relative;
top: -912px;
z-index: 1;
background-color: #f5f5f5;
height: 100%;
display: none;
}

/************* MEDIA QUERIES *************/

/* TABLETS */
@media screen and (max-width: 75rem) {
  header {
    height: 4rem;
  }

  .top-sidebar, .top {
    height: 3.75rem;
  }

  .top h3 {
    font-size: var(--fs-650);
  }

  .admin-container {
    grid-template-columns: 4.7rem auto;
    overflow: hidden;
  }

  main {
    overflow-y: auto;
  }

  aside {
    padding: 0 .5rem;
  }

  .logo-text {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 10em;
  }

  .section-grid {
    gap: 1em;
    grid-template-columns: 1fr;
  }

  /* PRODUCTS */

  .style-products h2 {
    font-size: var(--fs-700);
  } 

  .style-products form {
    padding: 2em 1.5em;
  }
  .style-products form .box {
    font-size: var(--fs-300);
    padding: 12px 18px;
  }

  .style-products textarea {
    height: 7rem;
    resize: none;
    }

  .primary-btn {
    font-size: var(--fs-300);
  }

  .show-products {
    height: 500px;
  }

  .flex-btn button,
  .flex-btn a {
    font-size: .625rem;
  }
}

/* PHONES */
@media screen and (max-width: 48rem) {
  .admin-container {
    width: 100%;
    height: 100%;
  }

  main {
    width: 100vw;
  }

  .top {
    width: 100%;
    height: 3.125rem;
  }

  .top h3 {
    font-size: var(--fs-600);
  }

  .logo {
    height: 20%;
  }

  aside {
    box-shadow: 0 1em 5em 0.5em var(--clr-neutral-500);
    position: fixed;
    left: -100%;
    background-color: white;
    width: 288px;
    z-index: 3;
    height: 100vh;
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .logo-text {
    display: inline;
  }

  aside .sidebar {
    margin-top: 2em;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 80px;
  }

  #btn-menu {
    background: hsl(40, 93%, 49%, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding: .625rem;
    cursor: pointer;
    display: block;
  }

  #btn-close {
    padding: 2rem 0 2rem 2rem;
    cursor: pointer;
    display: inline-block;
  }

  #btn-menu:hover,
  #btn-menu:focus {
    color: var(--clr-primary-color);
  }

  #btn-close:hover,
  #btn-close:focus {
    color: var(--clr-primary-color);
  }
}


  