@import url("props_resets.css");

body {
  position: relative;
}

p {
  font-size: var(--fs-900);
  color: black;
  line-height: 1.5;
}

@media (max-width:450px){

  .accounts .box-container{
     grid-template-columns: 1fr;
  }

}

.container-body {
  padding: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
}

.content-table thead tr {
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #d7d7d7;
}

.delete-btn {
  color: white;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: orange;  
}
.delete-btn a {
color: white;
text-decoration: none;
}
.delete-btn:hover{
  background-color: red;  
}