@import url("props_resets.css");

body {
  position: relative;
  overflow: hidden;
}

/************* GRID CONTAINER *************/
.admin-container {
  background-color: var(--clr-neutral-100);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 256px auto;
}

.section-grid {
  display: grid;
  grid-template-columns: 500px auto;
  gap: 1em;
  margin: 0 auto;
  height: 100%;
}

/************* SIDEBAR *************/
aside {
  background-color: white;
  height: 100vh;
}

aside .top {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

aside .logo {
  display: flex;
}

aside .logo i {
  margin-top: 0.5em;
}

.logo-text {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
  color: var(--clr-primary-color);
  padding: 0.2em;
}

.logo-text span {
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-700);
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
}

aside .sidebar a {
  display: flex;
  position: relative;
  padding: 0 0 0 1em;
  color: var(--clr-neutral-700);
  gap: 16px;
  align-items: center;
  height: 59.2px;
  transition: all 300ms ease;
}

aside .sidebar h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  padding: 0.2em;
}

aside .sidebar a span {
  font-size: 25.6px;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

aside .sidebar a:hover,
aside .sidebar a:focus {
  color: var(--clr-primary-color);
}

aside .sidebar a.active {
  background-color: var(--clr-primary-color);
  color: white;
}

/************* TOP *************/

.top {
  background-color: white;
  padding: 1rem;
  height: 4.375rem;  
}

.admin-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************* BUTTONS *************/

#btn-menu, #btn-close {
  display: none;
}

/************* PRODUCTS *************/
.style-products {
  margin: 1em;
  background-color: #f5f5f5;
}

.style-products h2 {
  text-align: center;
  margin: 0.5em 0;
} 

.style-products form {
  height: auto;
  padding: 2em;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem var(--clr-neutral-300);
  background-color: white;
  border: 20rem;
}

.style-products form .box {
  outline: none;
  margin-bottom: 1em;
  font-size: var(--fs-400);
  color: black;
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  background: transparent;
  border: 2px solid var(--clr-neutral-300);
  border-radius: 16px;
  transition: 0.3s all ease;
}

.style-products form .box:focus {
  border-color: var(--clr-accent-color);
}

.style-products textarea {
height: 9rem;
resize: none;
}

.show-products .box-container {
display: grid;
grid-template-columns: repeat(auto-fit, 20rem);
gap: 1.5rem;
align-items: flex-start;
justify-content: center;
}

.show-products .box-container .box {
text-align: center;
border: .2rem solid black;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
background-color: white;
border-radius: 1rem;
padding: 1rem;
position: relative;
}

.show-products .box-container .box .price {
position: absolute;
top: .8rem;
left: .8rem;
padding: .5rem;
font-size: 1rem;
color: white;
background-color: red;
border-radius: .3rem;
}

.show-products .box-container .box img {
width: 100%;
margin-bottom: 1rem;
}

.show-products .box-container .box .name {
margin: .5rem 0;
font-size: 1.5rem;
color: black;
}

.show-products .box-container .box .category {
font-size: 1.3rem;
color: orange;
}

.show-products .box-container .box .details {
padding-top: 1rem;
font-size: .8rem;
line-height: 1.5;
}

/* UPDATE PRODUCTS */

.update-products form{
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2rem solid black;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background-color: #f5f5f5;
  border: 20rem;
}

.update-products form img {
height: 20rem;
width: 20rem;
object-fit: cover;
margin-bottom: 1rem;
display: initial;
}

.update-products form .box {
width: 90%;
border: .2rem solid black;
background-color: white;
border-radius: .9rem;
padding: .5rem .8rem;
font-size: 1rem;
color: black;
margin: .5rem 0;
}

.empty {
padding: 1rem;
background: white;
color: red;
border-radius: .9rem;
border: .2rem solid black;
font-size: 1rem;
text-align: center;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/* Overlapp css */


.update-form {
position: relative;
top: -912px;
z-index: 1;
background-color: #f5f5f5;
height: 100%;
display: none;
}

/************* MEDIA QUERIES *************/

/* TABLETS */
@media screen and (max-width: 75rem) {
  header {
    height: 4rem;
  }

  .container {
    grid-template-columns: 4.7rem auto;
  }

  aside {
    padding: 0 .5rem;
  }

  .logo-text {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }
}

/* PHONES */
@media screen and (max-width: 48rem) {
  .container {
    width: 100%;
    height: 100%;
  }

  main {
    width: 100vw;
  }

  .top {
    width: 100%;
  }

  .logo {
    height: 20%;
  }

  aside {
    box-shadow: 0 1em 5em 0.5em var(--clr-neutral-200);
    position: fixed;
    left: -100%;
    background-color: white;
    width: 288px;
    z-index: 3;
    height: 100vh;
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .logo-text {
    display: inline;
  }

  aside .sidebar {
    margin-top: 2em;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 80px;
  }

  #btn-menu {
    cursor: pointer;
    display: block;
  }

  #btn-close {
    padding: 0 0 2rem 2rem;
    cursor: pointer;
    display: inline-block;
  }

  #btn-menu:hover,
  #btn-menu:focus {
    color: var(--clr-primary-color);
  }

  #btn-close:hover,
  #btn-close:focus {
    color: var(--clr-primary-color);
  }
}


  