@import url("props_resets.css");

body {
  position: relative;
}

p {
  font-size: var(--fs-900);
  color: black;
  line-height: 1.5;
}

@media (max-width:450px){

  .accounts .box-container{
     grid-template-columns: 1fr;
  }

}