@import url("props_resets.css");

body {
  position: fixed;
  /* overflow: hidden; */
}

/************* GRID CONTAINER *************/
.admin-container {
  background-color: var(--clr-neutral-100);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 256px auto;
}

/************* SIDEBAR *************/
aside {
  background-color: white;
  height: 100vh;
}

aside .top {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

aside .logo {
  display: flex;
}

aside .logo i {
  margin-top: 0.5em;
}

.logo-text {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
  color: var(--clr-primary-color);
  padding: 0.2em;
}

.logo-text span {
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-700);
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
}

aside .sidebar a {
  display: flex;
  position: relative;
  padding: 0 0 0 1em;
  color: var(--clr-neutral-700);
  gap: 16px;
  align-items: center;
  height: 59.2px;
  transition: all 300ms ease;
}

aside .sidebar h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  padding: 0.2em;
}

aside .sidebar a span {
  font-size: 25.6px;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

aside .sidebar a:hover,
aside .sidebar a:focus {
  color: var(--clr-primary-color);
}

aside .sidebar a.active {
  background-color: var(--clr-primary-color);
  color: white;
}

/************* TOP *************/

.top {
  background-color: white;
  padding: 1rem;
  height: 4.375rem;  
}

/************* BUTTONS *************/

#btn-menu, #btn-close {
  display: none;
}

/************* MEDIA QUERIES *************/

/* TABLETS */
@media screen and (max-width: 75rem) {
  header {
    height: 4rem;
  }

  .container {
    grid-template-columns: 4.7rem auto;
  }

  aside {
    padding: 0 .5rem;
  }

  .logo-text {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }
}

/* PHONES */
@media screen and (max-width: 48rem) {
  .container {
    width: 100%;
    height: 100%;
  }

  main {
    width: 100vw;
  }

  .top {
    width: 100%;
  }

  .logo {
    height: 20%;
  }

  aside {
    box-shadow: 0 1em 5em 0.5em var(--clr-neutral-200);
    position: fixed;
    left: -100%;
    background-color: white;
    width: 288px;
    z-index: 3;
    height: 100vh;
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .logo-text {
    display: inline;
  }

  aside .sidebar {
    margin-top: 2em;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 80px;
  }

  #btn-menu {
    cursor: pointer;
    display: block;
  }

  #btn-close {
    padding: 0 0 2rem 2rem;
    cursor: pointer;
    display: inline-block;
  }

  #btn-menu:hover,
  #btn-menu:focus {
    color: var(--clr-primary-color);
  }

  #btn-close:hover,
  #btn-close:focus {
    color: var(--clr-primary-color);
  }
}


  