@import url("props_resets.css");

body {
  position: relative;
}

.reviews-container .box-container{
  display: grid;
  row-gap: 3rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: .5rem;
  padding: 2rem;
  width: 80%;
  margin: auto;
}

.reviews-container .box-container .box{
  border-bottom: var(--border);
  overflow-x: hidden;
  padding-bottom: 3.5rem;
  position: relative;
}

.reviews-container .box-container .box .user{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.reviews-container .box-container .box .user img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-container .box-container .box .user h3{
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--light-bg);
  text-transform: uppercase;
  text-align: center;
  line-height: 4.3rem;   
}

.reviews-container .box-container .box .user p{
  font-size: .8rem;
  color: var(--black);
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-bottom: .3rem;
}

.reviews-container .box-container .box .user span{
  color: var(--light-color);
  font-size: .8rem;
}

.reviews-container .box-container .box .ratings{
  position: absolute;
  top: 0; right: 0;
  z-index: 10;
}

.reviews-container .box-container .box .ratings p{
  border-radius: .5rem;
  color: var(--white);
  padding: .0rem 1rem;
}

.reviews-container .box-container .box .ratings p span{
  font-size: 1rem;
}

.reviews-container .box-container .box .ratings p i{
  font-size: 1rem;
}

.reviews-container .box-container .box .title-review{
  font-size: 1rem;
  color: var(--black);
  padding: .5rem 0;
  text-align: left;
}

.reviews-container .box-container .box .description{
  font-size: 1rem;
  white-space: pre-line;
  color: var(--light-color);
  line-height: 1.5;
}

.flex-btn{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delete-btn{
  background-color: var(--red);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-bottom: 30px;
  margin-top: 80px;
}