/************* PROPERTIES *************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    /* COLORS */
    --clr-primary-color:hsl(40, 93%, 49%);
    --clr-accent-color: hsl(6, 78%, 57%);

    --clr-neutral-100: hsl(0, 0%, 95%);
    --clr-neutral-200: hsl(0, 0%, 80%);
    --clr-neutral-300: hsl(0, 0%, 65%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-500: hsl(0, 0%, 35%);
    --clr-neutral-600: hsl(0, 0%, 20%);
    --clr-neutral-700: hsl(0, 0%, 15%);
    --clr-neutral-800: hsl(0, 0%, 5%);

    /* FONT-FAMILY */
    --ff-primary: 'Poppins', sans-serif;

    /* FONT-WEIGHT */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    /* FONT-SIZE */
    --fs-100: 0.75rem; /* 12px */
    --fs-200: 0.8125rem; /* 13px */
    --fs-300: 0.875rem; /* 14px */
    --fs-400: 0.9375rem; /* 15px */
    --fs-500: 1rem; /* 16px */ 
    --fs-600: 1.25rem; /* 20px */
    --fs-650: 1.5625rem; /* 25px */
    --fs-700: 1.875rem; /* 30px */
    --fs-750: 2.1875rem; /* 35px */
    --fs-800: 2.5rem; /* 40px */
    --fs-850: 2.8125rem; /* 45px */
    --fs-900: 3.125rem; /* 50px */

    --fs-primary-heading: var(--fs-750);

    --yellow:#fed330;
    --red:hsl(6, 78%, 57%);
    --white:#fff;
    --black:hsl(0, 0%, 13%);
    --light-color:hsl(0, 0%, 47%);
    --border: 1px solid var(--clr-neutral-700);
}

/************* RESETS *************/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* html {
    color-scheme: dark light;
} */

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-primary);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* RESPONSIVE MEDIA */
img, 
picture, 
svg, 
video {
    max-width: 100%;
    display: block;
}

input, 
textarea, 
button, 
select {
    font: inherit;
}

/* LIST AND DECORATION */
ul {
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/************* UTILITIES *************/

.btn {
    border: none;
    background: none;
    cursor: pointer;
}

.material-icons-sharp.md-18 { font-size: 1.125rem; }
.material-icons-sharp.md-24 { font-size: 1.5rem; }
.material-icons-sharp.md-30 { font-size: 1.875rem; }
.material-icons-sharp.md-35 { font-size: 2.1875rem; }
.material-icons-sharp.md-48 { font-size: 3rem; }